<div class="container">
    <h2 class="text-center mt-4">Add Drugs</h2>
    <form action="/drugs" method="POST">
          <%- include('./_form_fields.ejs')  %> 
          <button type="submit" class="btn btn-success">Add</button>
          <a href="/drugs" class="btn btn-danger">Cancel</a>
    </form>
</div>