<div class="container mt-4">
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Generic Name</th>
              <th scope="col">Brand Names</th>
            </tr>
        </thead>
    </table>
</div>